/* 强制增加图片对齐语法 */
/* 在md文件中，图片的对齐语法是：![[Pasted image 20221125235721.png#right]]   */

/* 不填写默认居中 */
.markdown-source-view.mod-cm6.is-live-preview .image-embed,
.markdown-preview-view .image-embed {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}

/* 如果图片的链接中包含 #right 的，图片居右显示 */
.markdown-source-view.mod-cm6.is-live-preview [src*="#right"],
.markdown-preview-view .image-embed[src*="#right"] {
  display: flex;
  justify-content: flex-end;
}

/* 如果图片的链接中包含 #left 的，图片居左显示 */
.markdown-source-view.mod-cm6.is-live-preview [src*="#left"],
.markdown-preview-view .image-embed[src*="#left"] {
  display: flex;
  justify-content: flex-start;
}

/* 远程Image */
img [src*="#https"],
img [src*="#http"] {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.markdown-source-view.mod-cm6 .cm-content > * {
  margin: auto auto !important;
}